<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/RouteEye Automation/RouteEyeAutomation/RouteEyeAutomation2/src/test/java/testcases/LoginTC01.java">
        <classes>
            <class name="testcases.LoginTC01">
                <methods>
                    <include name="loginwithvalidcredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>